.classpath
.project
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.core.resources.prefs
target/classes/static/index.html
target/classes/net/krchis/MyKrchisApplication.class
target/classes/META-INF/maven/net.krchis/my-krchis/pom.properties
target/classes/META-INF/MANIFEST.MF
target/test-classes/net/krchis/MyKrchisApplicationTests.class
target/classes/application.properties
target/classes/META-INF/maven/net.krchis/my-krchis/pom.xml
